# MongoDB Connection
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority&appName=<AppName>

# RabbitMQ Configuration
RABBITMQ_URI=amqp://<host>:<port>
RABBITMQ_QUEUE=<queue_name>

# Mail Configuration
MAIL_HOST=<smtp_host>
MAIL_PORT=<smtp_port>
MAIL_SECURE=<true_or_false>
MAIL_USER=<email_address>
MAIL_PASSWORD=<email_password>